@import url("../_fonts/nunito-sans.css");

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Nunito Sans', sans-serif;
   color: #fff;
}
body{
   background-color: #030303;
   height: 100vh;
}
header{
   width: 100%;
   padding: 0 2rem;
   position: fixed;
   z-index: 5;
   backdrop-filter: blur(10px);
}
.logo{
   /* text-indent: 1rem; */
}
.logo a{
   text-decoration: none;
   font-family: 'Special Gothic Expanded One', sans-serif;
   transition: all 0.3s ease-in-out;
}
.logo span{
   font-family: 'Special Gothic Expanded One', sans-serif;
   transition: all 0.3s ease-in-out;
   color: #007acc;
   margin-left: .1rem;
}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 12rem;
   height: 10vh;
   color: #F1EFEC;
}
nav ul{
   display: flex;
   list-style: none;
   gap: 2rem;
}
nav ul li a{
   text-decoration: none;
   font-family: 'Lora', serif;
   font-style: oblique;
}
.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #007acc;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}
.nav-link:hover::after {
  transform: scaleX(1);
}
#github{
   border: 1px solid #F1EFEC;
   padding: 0.5rem 2rem;
   transition: all 0.3s ease-in-out;
}
#github:hover{
   text-decoration: none;
   background-color: #123458;
   color: #F1EFEC;
   border: 1px solid #F1EFEC;
}
#github-icon{
   width: 1.5rem;
   height: 1.5rem;
   margin-right: 0.3rem;
   margin-bottom: .3rem;
   vertical-align: middle;
   transition: all 0.5s ease-in-out;
}
#github:hover #github-icon{
   transform: rotate(360deg);
}
main{
   /* display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; */
}
section{
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: 1px solid #F1EFEC; */
}
.hero{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5em;
}
.hero-img-container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 20rem;
   width: 20rem;
   border-radius: 50%;
   overflow: hidden;
   box-shadow: 0 0 25px 1px rgb(255, 255, 255);
}
.hero-img img{
   position: relative;
   width: 20rem;
   height: 20rem;
   border-radius: 50%;
   filter: blur(.1em);
   transition: all 0.3s ease-in;
}
.hero-img img:hover{
   transform: scale(1.1);
   filter: blur(0);
}
.hero-text{
   text-align: justify;
}
.hero-text h2{
   font-size: 1.5rem;
   font-family: 'Special Gothic Expanded One', sans-serif;
   font-weight: 700;
   margin-bottom: 1rem;
   font-style: italic;
   overflow: hidden;
   white-space: nowrap;
   letter-spacing: 0.15rem;
   animation: 
      typing 3.5s steps(40, end) infinite;
}
@keyframes typing{
   from{
      width: 0;
   }
   to{
      width: 55%;
   }
}
.hero-text p{
   text-align: center;
   font-family: 'Lora', serif;
   font-style: oblique;
}
.about-section{
   /* margin-top: 15rem; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5rem;
}
.about-section .title img{
   width: 2rem;
   height: 2rem;
   margin-right: .5rem;
   vertical-align: middle;
}
.about-section p{
   font-family: 'Lora', serif;
   font-style: oblique;
   text-align: justify;
}
section .title{
   margin-bottom: 1rem;
}
section .about-content{
   width: 40%;
   font-size: 1.2rem;
   padding: .5rem 1rem;
   border-radius: 1rem;
   border-left: .5em solid #F1EFEC;
}
.project-section{
   /* margin-top: 15rem; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5rem;
   text-align: center;
}
.project-section .title img{
   width: 2rem;
   height: 2rem;
   margin-right: .5rem;
   vertical-align: middle;
}
.project-section p{
   margin-top: 1rem;
}
.projects{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 2rem;
}
.projects .card{
   width: 25rem;
   height: 30rem;
   /* background-color: #123458; */
   border-radius: 1rem;
   padding: 1rem;
   transition: all 0.3s ease-in-out;
}
.projects .card .card-img-container{
   height: 12rem;
   margin-bottom: 1rem;
   border-radius: 1rem;
   overflow: hidden;
}
.projects .card img{
   width: 100%;
   height: 12rem;
   border-radius: 1rem;
   margin-bottom: 1rem;
   transition: all 0.3s ease-in;
}
.projects .card img:hover{
   transform: scale(1.1);
}
.card-text h3{
   padding: 0.5rem 1rem;
   font-style: oblique;
}
.card-text p{
   text-align: justify;
   padding: .5rem 1rem;
   border-radius: .5rem;
   border-left: .5em solid #F1EFEC;
   font-family: 'Lora', serif;
   font-style: oblique;
}
/* .education-section{
   padding: 10em;
} */
.education-section .title img{
   width: 2rem;
   height: 2rem;
   margin-right: .5rem;
   vertical-align: middle;
}
.education-section .title h2{
   text-align: center;
   margin-bottom: 5rem;
}
.education-content{
   display: flex;
   flex-direction: row;
   gap: 2rem;
}
.education-card{
   padding: 1rem 0rem;
}
.education-card h2{
   text-transform: uppercase;
   letter-spacing: 0.1rem;
   font-family: 'Special Gothic Expanded One', sans-serif;
}
.education-card p{
   text-align: justify;
   font-family: 'Lora', serif;
   font-style: oblique;
}
.educ-text{
   padding: 0rem 1rem;
   border-radius: .5rem;
   border-left: 4px solid #F1EFEC;
}
.right-container p{
   text-align: justify;
   border-radius: .5rem;
   /* border-left: 4px solid #F1EFEC; */
   /* padding: 0rem 1rem; */
}
.tech-section .title img{
   width: 2rem;
   height: 2rem;
   margin-right: .5rem;
   vertical-align: middle;
}


footer {
   background-color: #222;
   color: #fff;
   padding: 3rem 0;
}
.footer-top{
   width: 100%;
   text-align: center;
   margin-bottom: 3rem;
   padding-bottom: 3rem;
   border-bottom: 1px solid aliceblue;
}
.footer-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20rem;
}
.social-links{
   display: flex;
   gap: 2rem;
   margin-bottom: 1rem;
}
.social-links a{
   text-decoration: none;
}
.footer-container img{
   width: 1.5rem;
   height: 1.5rem;
   margin-right: .5rem;
   vertical-align: middle;
}
.footer-container a:hover{
   color: #007acc;
   transition: all 0.2s ease-in-out;
}
.footer-email{
   display: flex;
   gap: 1rem;
}
.footer-email a{
   text-decoration: none;
   margin-bottom: 1rem;
}